* {
margin: 0;
padding:0;
/* box-sizing: border-box; */
}
body div{
  /* border: 1px solid red; */
}
.container {
    background-color: black;
    padding: 30px;
    max-width: 1200px; 
    margin: 0 auto;  
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
   flex-direction: column;
  }
.header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: white;
    display: flex;
}
.vertualsquare{
    width: 6px;
    height: 6px;
    border: solid 5px white;
    rotate: 45deg;
    margin-right: 8px;
}
.topleft{
    display: flex;
    font-weight: 5px;
}
.btntxt{
 margin-left: 50px;
}
.loginbtn{
    padding: 6px 8px 6px 8px;
    margin-left: 10px;
    border: none;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.boxes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box1{
  background-color: black;
  margin-top: 50px;
}

.virtualw{
    font-size: 100px;
    font-family: 'Barlow Condensed', sans-serif;
    
}

.hero{
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
}

.content2{
display: flex;
margin-top: 20px;
justify-content: space-around;
align-items: center;
color: white;
}
.content2btn{
background-color: white;
  height: 50px;
  width: 150px;
  border: none;
}
#underline{
width: 90%;
height: 2px;
background-color: aliceblue;
}
.join
{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
margin-left: 20px;
}
.simplebox{
margin-top: 70px;
height: 100px;
width: 87%;
display: flex;
padding: 20px;
justify-content: end;
border:1px solid white;
color: white;
}
.upgrade{
  position: relative;
  top: -30px;
  margin-top: 30px;
  margin-right: 10px;
}
.circlesimp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: orangered;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -40px;
    right:60px;
  }
.line8{
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 9px;
    top: 2.5px;
}
.line9{
    /* position: absolute; */
    width: 25px;
    height: 2px;
    position: relative;
    right: -6px;
    top:1px;
    background-color: rgb(0, 0, 0);
    rotate: 90deg;
}
.linecross{
  position: relative;
  top:17px;
  right:-1px
}
.box2{
    background-color: black;
    margin-top: 40px;
}
.imgbox{
display: flex;
justify-content: space-between;
position: relative;
}
.imgbox1 {
width: 200px;
height: 300px;
background-color: beige;
}

.imgbox2 {
width: 200px;
height: 300px;
margin-left: 10px;
background-color: orangered;
position: relative;
top: -120px;
right: -32px;
}


.detail1{
display: flex;
justify-content: space-around;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
height: 1px;
width: 400px;
background-color: aliceblue;
margin-top: 20px;
margin-bottom: 20px;
}
.linesquare{
    height: 4px;
    width: 4px;
    background-color: white;
     rotate: 45deg;
}
.detail2{
display: flex;
justify-content: space-around;
}
.detail2c{
margin-left: 60px;
margin-right:60px;
}
.detail1c{
margin-left: 60px;
margin-right:60px;
}

.content1{
color: white;
font-size: 50px;
}
.content{
color: white;

}

.circle1{
width: 50px;
height: 50px;
background-color: white;
border-radius: 50%;
position: relative;
}

.circle2{
width: 50px;
height: 50px;
background-color: grey;
border-radius: 50%;
position: relative;
right: 20px;
}

.circle{
    display: flex;
    position: relative;
    top: -80px;
    right: -99px;
    width: 110px;
}

@media (max-width: 992px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
    .virtualw{
        font-size: 80px;
        font-family: 'Barlow Condensed', sans-serif;  
    }
    .content1{
      text-align: center;
    }
    .topleft{
      margin-bottom: 8px;
    }
     .between{
      margin-bottom: 8px;;
     }
    .boxes{
      display: flex;
      flex-direction: column;
    }
    .box2{
      margin:top:200px;
     
    }
    .imgbox{
      margin-top: 120px;
      display: flex;
      justify-content: center;
    }
    .boxsimp{
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 768px)
  {
    .imgbox2{
      right:-5px;
    }
    .container{
      padding:15px;
    }
    .circle{
      right: -75px;
    }
    .imgbox{
      margin-top: 120px;;
    }
  }
  @media (min-width: 300px) and (max-width: 576px) {
    .container{
      padding: 5px;
    }
  }
  