
.container {
    background-color: black;
    padding: 30px;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
  }
.header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.vertualsquare{
    width: 6px;
    height: 6px;
    border: solid 5px white;
    rotate: 45deg;
    margin-right: 8px;
}
.topleft{
    display: flex;
    font-weight: 5px;
}
.btntxt{
 margin-left: 50px;
}
.loginbtn{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.box1{
  background-color: black;
  margin-top: 50px;
}

.virtualw{
    font-size: 100px;
    font-family: 'Barlow Condensed', sans-serif;
}

.hero{
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
}
.upgrade{
    position: relative;
    top: -30px;
}
.content2{
display: flex;
margin-top: 20px;
justify-content: space-around;
align-items: center;
color: white;
}
.content2btn{
background-color: white;
  height: 50px;
  width: 150px;
}
#underline{
width: 90%;
height: 2px;
background-color: aliceblue;
}
.join
{
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
margin-left: 20px;
}
.simplebox{
margin-top: 70px;
height: 100px;
width: 87%;
display: flex;
padding: 20px;
justify-content: end;
border:1px solid white;
color: white;
}
.circlesimp{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: orangered;
    position: relative;
    top: -40px;
    right:60px;
  }
  .simplebox {
    margin-top: 70px;
    width: 100%; /* Adjust this width as needed */
    display: flex;
    padding: 20px;
    justify-content: end;
    border: 1px solid white;
    color: white;
  }
.line8{
    width: 25px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 9px;
    top: 2.5px;
}
.line9{
    /* position: absolute; */
    width: 25px;
    height: 2px;
    position: relative;
    right: -6px;
    top:1px;
    background-color: rgb(0, 0, 0);
    rotate: 90deg;
}

.box2{
    background-color: black;
    margin-top: 40px;
}
.imgbox{
display: flex;
justify-content: space-between;
position: relative;
}
.imgbox1 {
width: 200px;
height: 300px;
background-color: beige;
}

.imgbox2 {
width: 200px;
height: 300px;
margin-left: 10px;
background-color: orangered;
position: relative;
top: -120px;
right: -30px;
}


.detail1{
display: flex;
justify-content: space-around;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
height: 1px;
width: 400px;
background-color: aliceblue;
margin-top: 20px;
margin-bottom: 20px;
}
.linesquare{
    height: 4px;
    width: 4px;
    background-color: white;
     rotate: 45deg;
}
.detail2{
display: flex;
justify-content: space-around;
}
.detail2c{
margin-left: 60px;
margin-right:60px;
}
.detail1c{
margin-left: 60px;
margin-right:60px;
}

.content1{
color: white;
font-size: 50px;
}
.content{
color: white;
margin-top: 50px;;
}

.circle1{
width: 50px;
height: 50px;
background-color: white;
border-radius: 50%;
position: relative;
}

.circle2{
width: 50px;
height: 50px;
background-color: grey;
border-radius: 50%;
position: relative;
right: 20px;
}
imgboxcontent{
    display: flex;
}
.circle{
    display: flex;
    position: relative;
    top: -80px;
    right: -95px;
}

@media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
    .topleft {
      margin-bottom: 20px;
    }
    .btntxt {
      margin-left: 0;
      margin-right: 20px;
    }
    .login {
      margin-top: 20px;
    }
  }
  

  @media (min-width: 769px) and (max-width: 992px) {
    .btntxt {
      margin-left: 20px;
    }
  }
  
  @media (min-width: 993px) {
    .content1 {
      font-size: 70px;
    }
    .virtualw {
      font-size: 80px;
    }
    .hero {
      font-size: 25px;
    }
  }
  