

.additional-sidebar {
  background-color: rgb(27, 29, 33);
  padding: 15px;
  position: relative;
  margin-left: 1px;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(42,45,51);
  padding: 2px;
  color: white;
  cursor: pointer; 
}
.search-icon{
  display: flex;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-bar::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 60px;
  right: 1px;
  height: 1px;
  background-color: #282c34;
}

.dropdown-title {
  color: silver;
  position: relative;
  margin: 20px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  left: -20px;
}
.icon-chevron-up{
  position: relative;
  bottom: -4px;
}
.icon-chevron-down{
  position: relative;
  bottom: -4px;
}


.dropdown-items {
  margin-top: 10px;
  /* display: flex;
  flex-direction: column;
   */
}
.item-icon{
  display: flex;
}
.inner-item{
  margin-left: 36px;
}
.item-label {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 4px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px;
  margin-left: 20px;
  color: silver;

}

.item-label:hover {
  background-color: rgb(36,39,44);
}



