/* Navbar container */
.navbar {
    background-color: rgb(35, 37, 41);
    display: flex;
    justify-content: space-between;
    padding: 14px;
  }
  
  /* Workspace text */
  .workspace {
    font-size: 22px;
    color: white;
  }
  
  /* Right section of the navbar */
  .right-section {
    display: flex;
    align-items: center;
  }
  

  .dark-mode-toggle {
    color: white;
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }
  

  .bell-icon {
    background-color: rgb(57, 54, 54);
     
    border-radius: 50%;
    padding: 10px 5px 5px 10px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
  }
  
  /* Notification dot */
  .notification-dot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  /* User info */
  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
  }
  
  /* User image */
  .user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
    margin-right: 15px;
    margin-left: 15px;
  }
  
  /* User name */
  .user-name {
    color: white;
    margin-right: 5px;
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
    
  }
  
  /* Dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    right: -80px;
    top: 100%;
    background-color: rgb(57, 54, 54);
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    margin-right: 45px;
    margin-left: 15px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Dropdown items */
  .dropdown-item {
    color: white;
    padding: 5px;
  }
  
  /* Vertical line */
  .navbar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1px;
    height: 80%;
    background-color: white;
    transform: translateY(-50%);
  }
  