
.sidebar {
    background-color: rgb(27, 29, 33);
    width: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 

.cockroach {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; 
  height: 100px;  */
  border-radius: 50% ; 
  border: 12px solid rgb(42, 45, 51);
  margin-top: 10px;
}
.bug-icon {
  color: white;
  font-size: 30px; 
}

  .icon-container.selected {
    font-weight: bold;
    transform: scale(1.1);
  }
  .icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: white;
    cursor: pointer; 
    position: relative; 
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease-in-out;
  }
  .icon-container::before {
    content: '';
    position: absolute;
    left: -7px;
    top: 9px;
    height: 60%;
    display: flex;
    align-items: center;
    width: 3px;
    background-color: white;
    opacity: 0; 
    transition: opacity 0.2s ease-in-out;
  }
  
  .icon-container.selected::before {
    opacity: 1;
  }
  
  .child-icon {
    padding-left: 5px;
  }
  .bottom-icons {
    margin-top: auto; 
  }
  

  .bottom-icons .icon-container {
    margin-bottom: 10px; 
  }
  
 

  