/* Task card container */
.task-card {
    padding: 10px;
    background-color: rgb(35, 37, 41);
    height: 65%;
    color: white;
  }
  
  /* Task title */
  .task-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Task content */
  .task-content {
    margin-bottom: 10px;
  }
  
  /* Task item */
  .task-item {
    padding: 5px;
  }
  